


/*
 * Base structure
 */

html,
body {
  height: 100%;
  width: 100%;
  background-color: #1b1b31;
 
  font-family: Helvetica;
}

body {
 
  color: #fff;
  
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/* AVATAR */

 .main-container{
  margin-right: 0px;
  margin-left: 0px;

 }

 .profile-container {
  background-color: #12101a;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  height: 50rem;
  top: 10%;
}

.cargo{
  background-color: #1d1d1d;
  padding: .7rem ;
  width: 50%;
  border-radius: 10px;
  text-align: center;
  position: relative;
  top: 0px;
}

.social-media-icon {
  width: 2.2rem;
  height: 2.2rem;
  background-color:#1d1d1d;
  padding: 9px;
  border-radius: 5px;
}

.contato {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1d1d1d;
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: left;
  border-radius: 5px;
  width: 80%;
}

.telefone{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding-bottom: .8rem;
  margin-bottom: .8rem;
  border-bottom: 1px solid #444;
  text-align: left;
  width: 100%;
 
  
}

.teste{
  color: #a6a6a6;
  font-size: .8rem;
  position: absolute;
  left: 12%;
  top: -8px;
  
}


.contact-icon{
  width: 2rem;
  height: 2rem;
  background-color:#12101a;
  padding: 5px;
  border-radius: 5px;

  
}

/* BODY */

.skills{
  background-color:#12101a;
  border:  2px solid #1d1d1d;
  border-radius: 10px;
  display: flex;
  width: 45%;

}

.skills-icon{
  width: 90px;
  height: 90px;
}



.body-container {
  max-width: 100%;
  min-height: 50rem; /* Alterei de 'height' para 'min-height' para garantir que a altura possa crescer conforme o conteúdo */
  background-color: #12101a;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  top: 10%;
 
}

.profile-picture {
  width: 300px;
  border-radius: 10px;
}

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


.project-card{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  /* background-color: #fff; */
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  

}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
